*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header{
    height: 96px;
}

#header .logo,#header .nav{
    float: left;
}

#header .logo{
    max-width: 60px;
    margin-top: 16px;
    margin-right: 100px;
}

.nav li {
    line-height: 96px;
}
.nav li a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
    color: rgb(39, 192, 121);
}
#header .search{
    height: 28px;
    margin-top: 40px;
    
}
#header .timkiem{
    margin-right: 80px;
    float: right;
}
#content{
    margin-top: 30px;
}
#content .img-banner{
    width: 100%;
}

#content .favorite{
    color: rgb(218, 121, 11);
    font-weight: 500px;
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(50, 38, 218);
}
#content .img-h{
    width: 100%;
}
#content .img-member{
    margin-top: 30px;
}
.hotel{
    margin-top: 30px;
}
.hotel h1{
    text-align: center;
    color: rgb(54, 173, 228);
}
.hotel .col-6{
    margin-top: 20px;
}
.hotel img{
    width: 100%;
}
.hotel p{
    position: absolute;
    margin-top: -42px;
    font-size: 25px;
    color: white;
    margin-left: 156px;
}
.table-group {
    margin-top: 50px;
    margin-bottom: 20px;
}
.table-group h2{
    text-align: center;
    color:rgb(39, 212, 235);
}
.table-group table{
    margin-top: 20px;
}
.table-group .td-1, .table-group .td-3{
    background-color: #f9f9f9;
}
.table-group td,.table-group th{
    padding: 6px 0px;
    text-align: center;
}
.table-group th{
    color: green;
}
.table-group td{
    border-top: 1px solid #ddd;
}

#footer .col-12{
    background-color: rgb(11, 116, 116);
}
#footer p{
    width: 100%;
    text-align: center;
    color: white;
    margin: 10px 0px;
}