*{
	padding: 0;
	border: 0;
	
	font-family: 'Cabin', sans-serif;
}

header{
	background-color: dodgerblue;
	background-size: 100%;
	height: 65px;
	padding: 4px 0px;
}
.header a{
	float: left;
	text-decoration: none;
	line-height: 56px;
	color: white;
	font-size: 16px;
	padding: 0px 4px;
}
.nav {
	float:right;
	margin-right: 100px;
}

#nameSite{
	font-size: 20px;
	margin-left: 100px;
}
#img1, #anh2 {
	width: 100%;
}
.aboutus{
	margin-top: 80px;
	
}
.left1{
	width: 100%;
}
.title{
	height: 24px;
	margin-bottom: 16px;
}

.line{
	width: 2.7em;
	height: 2px;
	background-color: dodgerblue;
	margin: 11px 0px;
	float: left;
}
.title a{
	color:black;
	text-decoration: none;
	margin-left: 15px;
	
}
.title a:hover{
	box-shadow: 0 1px black;
}

#anh3,#anh4 {
	width: 100%;
	height: 400px;
}
#anh5, #anh6, #anh7, #anh8{
	width: 100%;
	height: 208px;
}
.col-6, .col-12, .row, {
	padding: 0px;
	
}
.anh3-4{
	padding: 0px;
}
#lastest{
	font-size: 28px;
	text-decoration: none;
	color:black;
}
.card-body{
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.card-body a{
	text-decoration: none;
}
.card-body a:hover{
	color: #007bff;
	box-shadow: 0 1px #007bff;
}
#txt-message{
	margin-top: 30px;
	padding: 80px;
	margin-bottom: 6px;
}
.col-4{
	max-width: 50%;
}
.content-a{
	margin-bottom: 20px;
}
.send{
	border: 1px solid sandybrown;
	color: #fff;
	background-color: #ffc107;
	padding: 8px 24px;
}
footer{
	background-color: #252525; 
	height: 260px;
	padding-top: 32px;
	margin-top: 80px;
}
.footer-a{
	color:#fff;

}
footer p{
	color: #fff;
	font-size: 16px;
	margin-bottom: 16px;
}
li{
	color: #fff;
	list-style: none;
}
.nav-arrow-down{
	font-size: 12px;
	margin-right: 5px;
}

.submit{
	background-color: #f8f9fa;
	color: black;
	padding: 3px 2px;
	margin-left: 5px;
	border-radius: 2px;

}
footer .cuoicung p{
	border-top: 1px solid #f8f9fa;
	padding-top: 5px;
	text-align: center;
}
footer .cuoicung, .nen{
	padding: 0px;
}